/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

a{
    cursor:pointer;
}

*, *:before, *:after {box-sizing:  border-box !important;}

.row {
  padding-top:15px;
  
}

.panel {
 display: inline-block;
 margin:  .5em;
 padding:  0; 
 width:98%;
}

.panel-body {
    background-color: #333;
}


