@{
    ViewBag.Title = "Test";
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="AngularApp" ng-controller="IndexController">
<head>
    <meta name="viewport" content="initial-scale=1">
    <base href="~/">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/AngularApp")
    <link href="~/Content/expats.min.css" rel="stylesheet" />
</head>
<body>

    <div class="navbar navbar-default navbar-static-top " role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarProperties.isCollapsed = !navbarProperties.isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/">Test</a>

                <div class="navbar-collapse collapse " collapse="navbarProperties.isCollapsed">
                    <ul class="nav navbar-nav leftNavOverride">
                        <li>
                            <a href="/#/jobsGrid">Jobs</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-3">
        <toaster-container toaster-options="{'time-out':7000}"></toaster-container>
    </div>

    <div class="container mainContent">
        <div ng-view>

        </div>
    </div>

    <div id="footer" class="center-block">
        <div class="container mainContent">

        </div>
    </div>
    <script>


    </script>
</body>


</html>
